<div class="main-content">
    <div class="container-fluid">
        <!-- <app-edit-document></app-edit-document> -->
        <div class="col-md-12">
            <div class="card">

           <div class="header">
                <h4 class="title">Repertoire des documents</h4>
            </div>        
<div class="card-body">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <tr>
            <th>  Nom </th>
            <th>  Date de création</th>
            <th>  Description</th>
            <th>  Archive</th>
            <th>  Action</th>
                       
       </tr>
        <tr *ngFor="let u of documents">
            <td>{{u.nom}}</td>
            <td>{{u.dateCreation}}</td>
            <td>{{u.description}}</td>
            <td>{{u.archive}}</td>
            <td><button  (click)="delete(u)">Delete</button></td>
            <!-- <td>
            <a routerLink="/editdocument" class="waves-effect waves-light btn right #e65100 green">Editer</a>|                
            </td> -->
        </tr>
    </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Recherche par Archivage</h4>
            </div>
            <div class="card-body">
            <form (ngSubmit)="findIfArchiveFalse(nonArchive)">
                <label>Etat d'archivage (valide/archivé):</label>
                <select [(ngModel)]="nonArchive" name="nonArchive" class="form-control" id="sel1">
                    <option>archivé</option>
                    <option>valide</option>
                     </select>
                <button class="btn btn-primary" >Rechercher</button>
                </form>
                <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
                    <tr>
                        <th>  Nom </th>
                        <th>  Date de création</th>
                        <th>  Description</th>
                        <th>  Archive</th>
                        <th>  Action</th>
                                   
                   </tr>
                    <tr *ngFor="let u of documentsParArchive">
                        <td>{{u.nom}}</td>
                        <td>{{u.dateCreation}}</td>
                        <td>{{u.description}}</td>
                        <td>{{u.archive}}</td>
                        <td><button  (click)="delete(u)">Delete</button></td>
                        <td><button  >Modifier</button></td>
                    </tr>
                </table>
            </div>
        </div>
     </div>

     
     <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Recherche par N° d'affaire</h4>
            <div class="card-body">
            <form (ngSubmit)="chercherDocParAffaire(codeaff)">
                <label>N°Identification:</label>
                <input type="search" [(ngModel)]="codeaff" name="fieldForm" class="form-control" placeholder="Entrer le N°Identification de l'affaire" />
                <button class="btn btn-primary" >Rechercher</button>
            </form>
                <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
                    <tr>
                        <th>  Nom </th>
                        <th>  Date de création</th>
                        <th>  Description</th>
                        <th>  Archive</th>
                        <th>  Action</th>
                                   
                   </tr>
                    <tr *ngFor="let u of documentsParAffaire">
                        <td>{{u.nom}}</td>
                        <td>{{u.dateCreation}}</td>
                        <td>{{u.description}}</td>
                        <td>{{u.archive}}</td>
                        <td><button  (click)="delete(u)">Delete</button></td>
                        <td><button  >Modifier</button></td>
                    </tr>
                </table>
            </div>
        </div>
     </div>

<div class="col-md-8">
    <div class="card">
    <div class="header">
        <h4 class="title">Ajout de document</h4>
    <div class="card-body">
    <form (ngSubmit)="save()">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                  <label>Nom</label>
                    <input type="text" [(ngModel)]="document.nom"  name="nom" class="form-control" placeholder="Nom du document">
                </div>
            </div>
          </div>
          
            <div class="col-md-5">
                <div class="form-group">
                  <label>Date de création</label>
                    <input type="date" [(ngModel)]="document.dateCreation" name="fieldForm" class="form-control" placeholder="Date de création">
                </div>
            </div>
         
          <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                  <label>Description</label>
                    <input type="text" [(ngModel)]="document.description" name="description" class="form-control" placeholder="Description">
                </div>
            </div>
          </div>
            <div class="col-md-5">
                <div class="form-group">
                  <label for="sel1">Archive</label>            
                  <select [(ngModel)]="document.archive" name="archive" class="form-control" id="sel1">
                    <option>archivé</option>
                    <option>valide</option>
                     </select>
                   
                </div>
            </div>
            <div class="row">
        <button type="submit" class="btn btn-info btn-fill pull-right">Enregistrer</button>
        <div class="clearfix"></div>
            </div>
            </form>
        </div>
    </div>
</div>
            
    </div>
</div>
