<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Enregistrement</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="save()">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input type="text" class="form-control" placeholder="exemple:Maunier">
                                        <!-- input type="text" [(ngModel)]="utilisateur.nom" name="nom"-->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Prenom</label>
                                        <input type="text" class="form-control" placeholder="exemple:Benjamin">
                                        <!-- input type="text" [(ngModel)]="utilisateur.prenom" name="prenom"-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="exemple:benjaminmaunier@gmail.com">
                                        <!-- input type="text" [(ngModel)]="utilisateur.email" name="email"-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Mot de Passe</label>
                                        <input type="password" class="form-control" placeholder="exemple:123456789">
                                        <!-- input type="text" [(ngModel)]="utilisateur.password" name="password"-->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Confirmer le Mot de Passe</label>
                                        <input type="password" class="form-control" placeholder="exemple:123456789">
                                        <!-- input type="text" [(ngModel)]="utilisateur.password" name="password"-->
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info btn-fill pull-right">S'Enregister</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="content">
                        <label> Déjà enregistré(e)? Se connecter</label>
                        <br>
                        <button type="button" class="btn btn-info btn-fill" routerLink="/login">Connection</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>